<!DOCTYPE html>
<html>
<head>
    <title>Flop Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
    <div class="container">
        <h1>Bienvenue sur le Flop Counter</h1>
        <h2><span id="counter">{{ counter }}</span></h2>
        <div class="buttons">
            <form onsubmit="event.preventDefault(); subtract();">
                <input type="submit" value="-1 flop">
                <span id="firework" style="display: none;">🔥</span>
            </form>
            <form onsubmit="event.preventDefault(); add();">
                <input type="submit" value="+1 flop">
                <span id="thumbs-down" style="display: none;">👎</span>
            </form>
        </div>
        <br>
        <p>Barre de progréssion des flops (objectifs -> 100) : </p>
        <br>
        <progress id="progress-bar" value="{{ counter }}" max="100"></progress>

    </div>
</body>
<footer>
    Developed by <a href="https://joshuakeely.live">Joshua Keely</a>
</footer>
<script>
    function add() {
        $.post("/add", function(data) {
            $("#counter").text(data);
            $("#progress-bar").val(data);
        });
        $("#thumbs-down").show().on('animationend', function() {
        $(this).hide();
        });

    }

    function subtract() {
        $.post("/subtract", function(data) {
            $("#counter").text(data);
            $("#progress-bar").val(data);
        });
        $("#firework").show().on('animationend', function() {
        $(this).hide();
        });
    }

    function updateCounter() {
    $.get("/get_counter", function(data) {
        $("#counter").text(data);
        $("#progress-bar").val(data);
    });
    }
    setInterval(updateCounter, 1000);

</script>
</html>